# This workflow builds the WPF application

name: .NET WPF Desktop Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    env:
      Project_Path: DC.iCloudPhoto.Sync/DC.iCloudPhoto.Sync.csproj

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Restore dependencies
    - name: Restore dependencies
      run: dotnet restore $env:Project_Path

    # Build the application
    - name: Build
      run: dotnet build $env:Project_Path --configuration ${{ matrix.configuration }} --no-restore

    # Publish the application
    - name: Publish
      run: dotnet publish $env:Project_Path --configuration ${{ matrix.configuration }} --output ./publish/${{ matrix.configuration }}

    # Upload build artifacts
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: WPF-App-${{ matrix.configuration }}
        path: ./publish/${{ matrix.configuration }}
